algopy==0.5.3
apptools==4.2.1
astroid==1.3.6
async==0.6.1
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
blivet==1.0.10
Bottleneck==0.6.0
cffi==0.8.6
chardet==2.2.1
configobj==5.0.5
coverage==4.0
cryptography==0.9
cssselect==0.9.1
decorator==3.4.0
di==0.3
Django==1.8.3
dnf-langpacks==0.15.1
dockerfile-parse==0.0.5
docutils==0.12
enum34==1.0.4
envisage==4.4.0
fail2ban==0.9.3
fastcache==1.0.2
fedpkg==1.20
funcsigs==0.4
GDAL==1.11.3
gitdb==0.6.4
GitPython==1.0.1
gmpy2==2.0.7
gps==3.11
html5lib==0.999
idna==2.0
iniparse==0.4
initial-setup==0.3.31
ipaddress==1.0.7
IPy==0.81
ipython==2.4.1
Jinja2==2.7.3
jsonpointer==1.9
jsonschema==2.4.0
keyring==5.0
kitchen==1.2.1
langtable==0.0.34
liveusb-creator==3.14.2
lockfile==0.10.2
logilab-common==0.63.2
lxml==3.3.6
Magic-file-extensions==0.2
MarkupSafe==0.23
matplotlib==1.4.3
mayavi==4.4.3
mercurial==3.5.1
mock==1.3.0
mpmath==0.19
munch==2.0.2
mwclient==0.7.2
networkx==1.9.1
nose==1.3.7
ntplib==0.3.2
numdifftools==0.9.14
numexpr==2.3
numpy==1.9.2
osbs-client==0.15
packagedb-cli==2.9.2
pandas==0.16.2
path.py==5.2
pbr==1.8.0
pdfshuffler==0.6.0
pexpect==3.1
Pillow==9.3.0
plotly==1.7.7
ply==3.4
pp==1.6.0
pwquality==1.2.4
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pycurl==7.19.5.1
pydot==1.0.28
pyface==4.4.0
pyflakes==0.8.1
pyglet==1.2.1
Pygments==1.6
pygobject==3.16.2
pygpgme==0.3
PyIscsi==1.0
pykickstart==1.99.66
pyliblzma==0.5.3
pylint==1.4.3
pyOpenSSL==0.15.1
pyparsing==2.0.3
pyparted==3.10.7
pyPdf==1.13
python-augeas==0.5.0
python-bugzilla==1.2.2
python-dateutil==2.4.2
python-dmidecode==3.10.13
python-fedora==0.6.2
python-ldap==2.4.17
python-meh==0.40
pytz===2012d
pyudev==0.16.1
pyxattr==0.5.3
PyYAML==3.11
pyzmq==14.4.1
reportlab==3.1.8
requests==2.7.0
rope==0.10.2
rpkg==1.36
rpm-python==4.12.0.1
scipy==0.14.1
simplegeneric==0.8.1
simplejson==3.5.3
six==1.9.0
slip==0.6.4
slip.dbus==0.6.4
smmap==0.9.0
Sphinx==1.2.3
spyder==2.2.4
SSSDConfig==1.13.1
stevedore==1.10.0
sympy==0.7.6
tables==3.2.0rc3
tornado==3.2.2
traits==4.5.0
traitsui==4.4.0
uniconvertor==2.0
Unidecode==0.4.16
urlgrabber==3.10.1
urllib3==1.10.4
vboxapi==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlwt==1.0.0
yum-metadata-parser==1.1.4
